<div class="navbar navbar-inverse bg-teal-400 navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li [ngClass]="{ 'active': activeMenu === 'clients' }"
                (click)="activeMenu = 'clients'">
                <a [routerLink]="['/clients']">
                    <i class="icon-users position-left"></i> Clientes
                </a>
            </li>
            <li [ngClass]="{ 'active': activeMenu === 'products' }"
                (click)="activeMenu = 'products'">
                <a [routerLink]="['/products']">
                    <i class="icon-store2 position-left"></i> Productos
                </a>
            </li>
            <li [ngClass]="{ 'active': activeMenu === 'orders' }"
                (click)="activeMenu = 'orders'">
                <a [routerLink]="['/sales']">
                    <i class="icon-menu7 position-left"></i> Ordenes
                    <span class="badge bg-warning-400">{{ orderCount }}</span>
                </a>
            </li>
            <li [ngClass]="{ 'active': activeMenu === 'delivery' }"
                (click)="activeMenu = 'delivery'">
                <a [routerLink]="['/deliveries']">
                    <i class="icon-truck position-left"></i> Entregas
                    <span class="badge bg-warning-400">{{ deliveryCount }}</span>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/demo/users/face11.jpg" alt="">
                    <span>Administrador</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<div class="page-container">
    <div class="page-content">
        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
